.comment {
  font-size: 0.9rem;
  border-bottom: 2px solid #353946;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
  }

  &__header {
    color: #fff;
  }
  span {
    cursor: pointer;
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 2rem;
    color: #fff;
  }
}
